<div class="contact-chooser">
  <div class="contact-chooser-list">
    <fieldset>
      <div class="select-all">
        <input type="checkbox" class="select-all-contacts" />
        <%= t('muck.invites.select_all') %>
      </div>
      <div class="table-wrapper">
        <%= contact_list(contacts) %>
      </div>
    </fieldset>
  </div>
</div>