<table class="contacts-list">
 <% contacts.each_with_index do |contact,i| %>
   <tr class="contact <%= i%2==0 ? 'even' : 'odd' %>">
     <td class="cb"><input type="checkbox" value="<%= h(contact[1]) %>" name="emails[]"></td>
     <td class="name"><%= contact[0] %></td>
     <td class="email"><%= contact[1] %></td>
   </tr>
 <% end %>
</table>
