<% return unless logged_in? -%>
<div id="gmail" class="invite-query">
  <% if google_oauth_for(current_user) -%>
    <div class="contact-list">
      <%= contact_container(gmail_contacts(current_user)) %>
    </div>    
  <% else -%>
    <p><a href="/auth/google">Connect to Gmail</a></p>
  <% end -%>
</div>