<div id="gmail" class="invite-content">
  <% if !current_user.google -%>
    <p><a href="/oauth_consumers/google">Click to connect to your Gmail</a></p>
  <% else -%>
    <div class="contact-list">
      <%= contact_list(user_gmail_contacts_by_oauth(current_user)) %>
    </div>
  <% end -%>
</div>