<div><%= flash[:notice] %></div>
<div><%= link_to t('muck.invites.new_invites', :app_name => GlobalConfig.application_name), new_invite_path %></div>
<div><%= link_to t('muck.invites.compose_invites', :app_name => GlobalConfig.application_name), compose_new_invite_path %></div>
